.ContractedPlan {
  background-color: transparent;
  margin-bottom: 20px;
  margin-top: 15px;
  &-header {
    font-size: 16px;
    font-weight: 600;
  }
  &-info {
    font-size: 12px;
    font-weight: 300;
  }
  &.facture {
    margin: 0;
  }
  &.email {
    margin: 0;
  }
}
