.Pagination {
    &-navbar {
        display: flex;
        list-style: none;
        margin-bottom: 50px;
        margin-top: 25px;
    }
    &-links {
        align-items: center;
        background-color: #E5E5E5;
        border: none;
        border-radius: 50%;
        display: flex;
        height: 35px;
        justify-content: center;
        margin: 3px;
        padding: 10px 17px;
        width: 35px;
        &:hover {
            background-color: #F2CD7A;
            color: #FFFFFF;
        }
        &:hover .Pagination-link {
            color: #FFFFFF;
        }
    }
    &-next {
        align-items: center;
        border: none;
        background-color: #E5E5E5;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        height: 35px;
        margin: 3px;
        width: 102px;
        &:hover {
            background-color: #F2CD7A;
            color: #FFFFFF;
        }
        &:hover .Pagination-link {
            color: #FFFFFF;
        }
    }
    &-link {
        color: #434343;
        font-size: 12px;
        font-weight: 600;
        &:hover {
            text-decoration: none;
        }
    }
}