@import "../../main";
.focusInput-text {
    font-family: $text;
    font-size: 10px;
    font-weight: 300;
    position: absolute;
    margin-bottom: 5px;
}

.color-picker{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 14px;
    .bullet-red{
        &:before{
            background-color: #e94d4b;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            content: "";
            display: block;
            height: 15px;
            margin: 0 auto;
            width: 15px;
        }
    }
    .bullet-blue{
        &:before{
            background-color: #3e73b9;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 50%;
            content: "";
            display: block;
            height: 15px;
            margin: 0 auto;
            width: 15px;
        }
    }
    .InputColor {
        border: none;
        width: 100%;
        font-family: $text;
        font-weight: 500;
        font-size: 12px;
        &.facture-blue {
            font-size: 12px;
            font-weight: 600;
            margin: 0;
            width: 70px;
        }
        &.facture-red {
            font-size: 12px;
            font-weight: 600;
            margin-left: 10px;
            width: 70px;
        }
        &:focus {
            outline: none;
        }
    }
}






